@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>Autor: <strong> @ViewData["Autor"]</strong></p>

<address>
   <strong>More information: </strong> <a href="mailto:antoni0scar@gmail.com">  antoni0scar@gmail.com</a>
</address>


